{% extends "base.html" %}
{% load donation_tags %}
{% load i18n %}


{% block title %}
        {{ event.name|title }} -- Donation Complete
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}queueindex.css" />
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}

Thank you, for your contribution. We have emailed you a donation receipt. Note that it may be in your spam folder.

Enjoy the event!

{% endblock %}
{% block credits %}{% endblock %}

