* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: 'Source Sans Pro', Verdana;
    font-weight: 400;
    font-size: 13px;
    background-color: #f2f2f2;
    color: #000;
}

a {
	color: #33B5E5;
	text-decoration: none;
}

a:visited {
	color: #33B5E5;
}

a:hover {
	color: #33B5E5;
	text-decoration: underline;
}

#container {
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	width: 980px;
	padding: 20px;
}

input, textarea, select {
	border: 1px solid #bbb;
	padding: 2px;
	font-family: 'Source Sans Pro', Verdana;
	font-size: 12px;
	margin-bottom: 8px;
	width: 100%;
	box-sizing: border-box;
}

#bidsform {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#bidsform .fa {
	font-size: 24px;
}

#header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 84px;
	background-color: #F47425;
	color: white;
	text-align: center;
}

#header h1 {
	text-transform: uppercase;
}

#info {
	font-size: 14px;
	background-color: #f2f2f2;
	margin: 10px 0;
	padding: 10px;
	display: flex;
	justify-content: space-around;
}

#footer {

	background-color: #333;
	color: #fff;
	padding: 20px;
}

.center {
	margin-left: auto;
	margin-right: auto;
	width: 400px;
}

label {
	font-size: 13px;
	font-weight: bold;
}

select.cdonationbidselect {
	width: 580px;
}

.add-row,
.delete-row,
input[type="submit"] {
	border-radius: 5px;
	background-color: #F47425;
	font-weight: 700;
	font-size: 17px;
	color: white;
	height: 32px;
	line-height: 32px;
	display: block;
	text-align: center;
	margin: 0.5em;
	text-transform: uppercase;
}

.delete-row {
	display: inline-block;
	width: 30%;
	margin-left: 24px;
}

div[data-field-name="amount"] {
	width: 60%;
	display: inline-block;
}

input[type="submit"] {
	width: 400px;
	height: 38px;
	line-height: inherit;
	font-size: 26px;
	margin: 20px auto;
}

.mf_selectbox {
	width: 100%;
}

.mf_groupingLabel,
.mf_grouping {
	display: none;
}

.mf_description-name {
	font-size: 24px;
	font-weight: 700;
	text-align: center;
}

.mf_description-selected {
	margin-top: 0.5em;
	text-align: center;
	font-size: 16px;
}

/* Hide the useless "Clear" button */
.mf_description button {
	display: none;
}

.section {
	width: 360px;
	margin-bottom: 20px;
	padding: 16px;
	background-color: #E6E6E6;
}

.section-header {
	text-align: center;
}

.ply-ok {
	background-color: #F47425;
}